.cardContainer img {
  width: 100%;
  aspect-ratio: 10/15;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.cardContainer img:hover {
  border: 5px solid white;
  box-shadow: 0 8px 8px 0 rgba(20, 20, 20, 0.15);
}

.cardContainer {
  background-color: #e3f2fd;
  text-align: center;
  display: flex;
}

.aboutSection .asideRight,
.aboutSection .asideLeft {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutSection .asideLeft img {
  height: 250px;
  border-radius: 20px;
  margin-bottom: 10px;
}
